.like-button {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%,-50%);
}

.heart-icon {
  width:24px;
  height:24px;
  fill: #cfcfcf;
}

.heart-icon.red {
  position: absolute;
  top:0;
  left:0;
  fill: #e01f4f;
  transform: scale(0);
}

.heart-icon.stroke {
  position: absolute;
  top:0;
  left:0;
}

.heart-icon.stroke circle {
  fill: none;
  stroke: #e0e2e4;
  stroke-width: 2;
}
