body {
  background: #262626 !important;
  font-family: 'Nunito', sans-serif !important ;
}

.bg-content::before {
  content:"";
  position: fixed;
  top:0;
  left:0;
  z-index:-2;

  display: block;
  background: url('../images/for-blur.png') no-repeat center;
  width: 100%;
  height:100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.bg-content {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index:-3;
  margin-left: 0px;
  margin-right: 0px;
}
.blanket {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);

  content:"";
  position: fixed;
  top:0;
  left:0;
  z-index:-2;

  display: block;
  width: 100%;
  height:100%;
}

#bed {
  background-color: rgba(0, 0, 0, .5);
  z-index:999;
}

#logo {
  position: absolute;
  width:125px;
  top:30px;
  left: 70px;
  display:inline-block;
}

#tag {
  color: #ffffff;
  position: absolute;
  top: 30px;
  right: 70px;
  display:inline-block;
}

.stage {
  margin-top: 30px;
}

/* Event Title */
#event-title {
  margin-top: 100px;
  /* margin-left:50px; */
  color: #ffffff;
  font-weight: 400;
  /* font-size: 30px; */
  text-align: left;
}
#event-info {
  color: #ffffff;
  font-weight: 200;
  margin-top: 20px;
}

/* Event Poster */
#event-poster {
  max-height:400px;
  max-width:100%;
  height:auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

/* Buttons */
.wrap {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
}
#stream {

}
.button {
  font-weight: 400;
  font-size: 16.5px;
  color: #0063FF;
  background-color: #fff;
  min-width: 175px;
  margin: 10px 10px 10px 10px;
  height: 45px;
  border:none;
  border-radius: 37.5px;
  transition: all 0.2s ease 0s;
  -moz-box-shadow:    0px 3px 0px 0.05px #0063FF;
  -webkit-box-shadow: 0px 3px 0px 0.05px #0063FF;
  box-shadow:         0px 3px 0px 0.05px #0063FF;
  cursor: pointer;
  outline: none;
}

.button:hover {
  /* background-color: #FFD52A; */
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 3px 0px 0.05px #0063FF;
}
.button:active {
  background-color: #333;
}
.button:focus {
  outline:0;
}

.button img {
  width: 20px;
  margin-right: 5px;
}

/* BUTTON TOGGLE CSS */

.nowStreaming {
  font-weight: 400;
  font-size: 16.5px;
  color: #fff;
  background-color: rgb(58,150,96);
  min-width: 175px;
  margin: 10px 10px 10px 10px;
  height: 45px;
  border:none;
  border-radius: 37.5px;
  transition: all 0.2s ease 0s;
  -moz-box-shadow:    0px 3px 0px 0.05px #ffffff;
  -webkit-box-shadow: 0px 3px 0px 0.05px #ffffff;
  box-shadow:         0px 3px 0px 0.05px #ffffff;
  cursor: pointer;
  outline: none;
}
.nowStreaming:hover {
  background-color: rgb(58,150,96);
  /* transform: translateY(-2px); */
  -webkit-box-shadow: 0px 3px 0px 0.05px #cfcfcf;
}
.nowStreaming:active {
  background-color: #333;
}
.nowStreaming:focus {
  outline:0;
}
.nowStreaming img {
  width: 20px;
  margin-right: 5px;
  fill: #ffffff;
}
.button-icon {
  /* background-color: #ffffff; */
  width: 20px;
  display: inline-block;
  margin-right: 5px;
}
.stream-icon .cls-1 {
  fill:none;
}

/* Translating Button CSS */
.nowTranslating {
  font-weight: 400;
  font-size: 16.5px;
  color: #fff;
  background-color: rgb(58,150,96);
  min-width: 175px;
  margin: 10px 10px 10px 10px;
  height: 45px;
  border:none;
  border-radius: 37.5px;
  transition: all 0.2s ease 0s;
  -moz-box-shadow:    0px 3px 0px 0.05px #ffffff;
  -webkit-box-shadow: 0px 3px 0px 0.05px #ffffff;
  box-shadow:         0px 3px 0px 0.05px #ffffff;
  cursor: pointer;
  outline: none;
}
.nowTranslating:hover {
  background-color: rgb(58,150,96);
  /* transform: translateY(-2px); */
  -webkit-box-shadow: 0px 3px 0px 0.05px #cfcfcf;
}
.nowTranslating:active {
  background-color: #333;
}
.nowTranslating:focus {
  outline:0;
}


/* MEDIA QUERIES */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  h1 {
    text-align: center !important;
  }
  #event-title {
    margin-top: 100px;
    font-size: 1.8em;
  }
  #event-poster {
    max-height: 45vh !important ;
  }

  #tag {
    right:50px;
  }

  #logo {
    left:50px;
    width:100px;
  }

  .wrap {
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .button:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 3px 0px 0.05px #0063FF;
  }

  button {
    width:60% !important;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  #event-title {
    margin-top:70px;
    font-size: 1.8em !important;
    font-weight: 400;
  }

  #event-poster {
    height: 60vh;
  }

  #event-info {
    display: none;
  }

  .stage {
    margin-top: 15px;
  }

  .wrap {
    /* margin-top: 0px; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
  }

  .button:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 3px 0px 0.05px #0063FF;
  }

  button {
    width:80%;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #event-poster {
    max-height: 350px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */
